Flask
python-dotenv
SQLAlchemy
psycopg2-binary
Flask-Migrate
markitdown[all]
mdit-py-plugins
Markdown
requests
Flask-Cors
tenacity
beautifulsoup4
lxml
markdownify
markdown-it-py[linkify]
google-genai
pytesseract
pillow
openai
pytest